.navbar{
    z-index: 1000;
}
/* Single Product Details Area */
.single_product_details_area {
    font-family: var(--body-font-family);
  position: relative;
  z-index: 100;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  width: 100vw;
  min-height: 100vh;
  top: 10vh;  
}
.single_product_thumb{
    width: 50%;
    height: 50%;
  top: -2%;
}
/* Single Product Thumb and Description Sections */
.single_product_details_area .single_product_thumb,
.single_product_details_area .single_product_desc {
  flex: 0 0 50%; /* Flex basis, not growing or shrinking */
  max-width: 50%;
  width: 50%;
  position: relative;
  z-index: 1;
  top: -8%;
}

@media only screen and (max-width: 767px) {
  /* Responsive: Full width for small screens */
  .single_product_details_area .single_product_thumb,
  .single_product_details_area .single_product_desc {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;

  }
  
}

/* Product Thumbnail Slides */
.single_product_details_area .product_thumbnail_slides {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* Owl Carousel Navigation Arrows */
.single_product_details_area .product_thumbnail_slides .owl-prev,
.single_product_details_area .product_thumbnail_slides .owl-next {
  transition-duration: 500ms;
  position: absolute;
  top: 50%;
  z-index: 20;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  padding: 5px;
  opacity: 0.4;
}

.single_product_details_area .product_thumbnail_slides .owl-prev:hover,
.single_product_details_area .product_thumbnail_slides .owl-next:hover {
  opacity: 1;
}

.single_product_details_area .product_thumbnail_slides .owl-next {
  left: auto;
  right: 30px;
}

/* Single Product Description Section */
.single_product_details_area .single_product_desc {
  position: relative;
  z-index: 1;
  top: -8%;
  padding: 50px 5%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_product_details_area .single_product_desc {
    padding: 30px 4%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_product_details_area .single_product_desc {
    padding: 30px 3%;
  }
}

@media only screen and (min-width: 250px) and (max-width: 550px){
  .single_product_details_area .single_product_desc {
    top: -10%;
  }
}

.single_product_details_area .single_product_desc span {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.single_product_details_area .single_product_desc a > h2 {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_product_details_area .single_product_desc a > h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_product_details_area .single_product_desc a > h2 {
    font-size: 20px;
  }
}

.single_product_details_area .single_product_desc .product-price {
  margin-bottom: 0;
  font-family: var(--body-font-family);
  font-size: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_product_details_area .single_product_desc .product-price {
    font-size: 20px;
  }
}

.single_product_details_area .single_product_desc .product-price span {
  display: inline-block;
  font-family: var(--body-font-family);
  
  margin-right: 15px;
}

.single_product_details_area .single_product_desc .product-desc {
  font-size: 16px;
  color: black;
  margin-top: 4%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_product_details_area .single_product_desc .product-desc {
    font-size: 14px;
  }
}

.bi-arrow-bar-right, .bi-arrow-bar-left{
  font-size: var(--h3-font-size);
  color: var(--primary-color);
}
.owl-prev {
  left: 3%;
}

.owl-carousel .owl-item img {
  display:block;
  width:96%;
  cursor: pointer;
  transition: 0.4ms ease-in-out;
}

.owl-carousel .owl-item img:hover {
 transform: scale(1.3);
}

.product-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-info{
  flex-direction: column;
  justify-content: space-between;
}
.product-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
width: 100%;
}



#addToCart {
  width: 98%;
  margin-right: 11px;
}

#buyNowBtn1 {
  width: 90%;
  margin-left: 12px;
}
.bi-cash {
display: flex;
}


.size-checkboxes {
  margin-left: 7%;
}
.bi-cash {
display: flex;
top: -13%;
position: relative;
}
#cash{
  position: relative;
  top: -10%;
}
span.discount-1 {
  font-size: 20px;
  line-height: 2px;
  color: red;
}
span.original-price-1 {
  font-size: 20px;
  text-decoration: line-through;
}

.product-data {
  position: relative;
  top: -5%;
  left: -27%;
}

@media screen and (max-width: 908px) {
  .product-btn {
padding-bottom: 25%;
}
.product-data {
  position: relative;
  left: 0%;
}
}

#flipAddCartBtn {
  display: flex;
  margin-right: 11px;
  flex-direction: row-reverse;
  width: 90%;
}


#flipAddCartBtn {
  display: none;
}


#plusBtn {
  width: 100%;
  border-radius: 0px 30px 30px 0px;
  border-left: 1px solid whitesmoke;
}


#inputBtn {
  width: 130%;
  border-radius: 0 0 0 0px;
  height: 100%;
}
#minusBtn {
  width: 100%;
  border-radius: 30px 0% 0% 30px;
  border-right: 1px solid whitesmoke;
}
