
/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #ff6347;
  --secondary-color: #ffd700;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #f65129;
  --social-icon-link-bg-color: #7f73eb;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #e9eaeb;

  --body-font-family: "League Spartan", sans-serif;

  --h1-font-size: 62px;
  --h2-font-size: 48px;
  --h3-font-size: 36px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --btn-font-size: 16px;
  --copyright-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 30px;
  --border-radius-small: 10px;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.5px;
}

h1,
h2 {
  letter-spacing: -1.5px;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--custom-btn-bg-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background: var(--section-bg-color);
}

.section-overlay {
  background: rgba(255, 255, 255, 0.85);
  background: var(--custom-btn-bg-color);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.section-overlay + .container {
  position: relative;
}

.back-top-icon {
  background: var(--secondary-color);
  width: 35px;
  color: var(--white-color);
  font-size: var(--h4-font-size);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  transition: all 0.5s;
}

.back-top-icon:hover {
  background: var(--custom-btn-bg-color);
  color: var(--white-color);
}

.custom-block {
  background: var(--primary-color);
  border-top: 20px solid var(--secondary-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px 50px;
}

.custom-icon {
  color: var(--primary-color);
}

.instagram-block {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.instagram-block-text {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  animation: tiltAnimation 0.5s ease infinite;
}
@keyframes tiltAnimation {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg); /* Tilt right */
  }
  50% {
    transform: rotate(-5deg); /* Tilt left */
  }
  75% {
    transform: rotate(0);
  }
}

nav[aria-label="breadcrumb"] {
  background: var(--white-color);
  border-radius: var(--border-radius-large);
  display: inline-block;
  padding: 7px 16px 3px 16px;
}

.breadcrumb {
  margin-bottom: 0;
}

/*---------------------------------------
  PAGINATION               
-----------------------------------------*/
.pagination {
  margin-top: 30px;
  margin-bottom: 0;
}

.page-link {
  border-color: var(--border-color);
  border-radius: var(--border-radius-large);
  color: var(--p-color);
  font-size: var(--copyright-font-size);
  padding: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.page-item.active .page-link,
.page-link:hover {
  background: var(--secondary-color);
  border-color: transparent;
  color: var(--white-color);
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border: 0;
  border-radius: var(--border-radius-large);
}

.page-item:not(:first-child) .page-link {
  margin-left: 5px;
}

/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .input-group {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  padding-left: 10px;
}

.input-group-text {
  background: transparent;
  border: 0;
  padding-right: 0;
}

.custom-form label {
  margin-bottom: 5px;
}

.custom-form .form-control {
  background-color: var(--white-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-medium);
  box-shadow: none;
  color: var(--p-color);
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
}

.custom-form button[type="submit"] {
  background: var(--primary-color);
  border: none;
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  transition: all 0.3s;
  margin-bottom: 24px;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--secondary-color);
  border-color: transparent;
}

/*---------------------------------------
  CUSTOM TEXT BLOCK               
-----------------------------------------*/
.custom-text-block {
  background: var(--primary-color);
  padding: 44px 63px;
  height: 100%;
}

.counter-thumb {
  margin: 20px;
  margin-bottom: 0;
}

.counter-number,
.counter-text {
  color: var(--secondary-color);
  display: block;
}

.counter-number,
.counter-number-text {
  color: var(--dark-color);
  font-size: var(--h1-font-size);
  line-height: normal;
}

.custom-text-block .counter-number,
.custom-text-block .counter-number-text {
  color: var(--white-color);
}

/*---------------------------------------
  CUSTOM LINK               
-----------------------------------------*/
.custom-link {
  color: var(--p-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-bottom: 2px;
}

.custom-link::after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: currentColor;
}

.custom-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.custom-link:hover {
  color: var(--primary-color);
}

.custom-link:hover::after {
  background: var(--custom-btn-bg-color);
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding: 15px 20px;
}

.custom-btn:hover,
.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover {
  background: var(--secondary-color);
  color: var(--p-color);
}

.custom-border-btn-wrap .custom-border-btn {
  border-color: var(--dark-color);
  color: var(--dark-color);
}

.custom-border-btn-wrap .custom-border-btn:hover,
.cta-section .custom-border-btn:hover {
  background: var(--white-color);
  color: var(--custom-btn-bg-color);
}

.custom-border-btn-wrap .custom-link {
  color: var(--dark-color);
}

.custom-border-btn-wrap .custom-link:hover::after {
  background: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--border-color);
  color: var(--custom-btn-bg-color);
}

.custom-border-btn:hover {
  background: var(--custom-btn-bg-color);
  border-color: transparent;
  color: var(--white-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn {
  padding: 12px 22px;
  color: var(--white-color);
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  background: var(--white-color);
  padding-top: 15px;
  padding-bottom: 15px;
  height: 15vh;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0 7px #928f8f;
transition: background-color 0.3s ease;
top: 0;
}

.transparent {
  background-color: transparent; /* Make the navbar transparent */
}

.navbar-brand {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
}

.logo-image {
  display: block;
  width: 150px;
  margin-right: 15px;
}

.logo-text {
  color: var(--primary-color);
  font-size: var(--h4-font-size);
  display: block;
  line-height: normal;
}

.logo-slogan {
  color: var(--custom-btn-bg-color);
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
}

.navbar-expand-lg .navbar-nav {
  width: 100%;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--p-bg-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--custom-btn-bg-color);
}

.dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border: 0;
  padding: 0;
  margin-top: 20px;
}

.dropdown-item {
  display: inline-block;
  color: var(--p-bg-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  border-bottom: 1px solid var(--border-color);
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.dropdown-menu li:last-child .dropdown-item {
  border-bottom: 0;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background: transparent;
  color: var(--custom-btn-bg-color);
}

.dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
  font-size: 0.7em;
}

@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.navbar-toggler {
  
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
  z-index: 1000;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-image: url("https://res.cloudinary.com/dgel7fmas/image/upload/v1691314294/easypizy/4_s1coi4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-top: 260px;
  padding-bottom: 150px;
  height: 100vh;
}

.site-header .section-overlay {
  background: var(--primary-color);
}

/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero-section {
  background-image: url(https://res.cloudinary.com/dgel7fmas/image/upload/v1691314294/easypizy/1_idppo7.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 59px;
  padding-bottom: 150px;
  height: 100vh;
  z-index: -1;
}
@keyframes slideBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}
.hero-section .section-overlay {
  background: var(--primary-color);
}
#site-header {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.hero-section-text {
  text-shadow: 0 0 7px black;
  opacity: 1;
  z-index: 1;
}
.hide-text {
  /* Add styles for hiding the text */
  opacity: 0;
  pointer-events: none; /* Prevent interactions with hidden text */
}
.hero-section .custom-border-btn {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.hero-section .custom-border-btn:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

.hero-form {
  background: var(--social-icon-link-bg-color);
  border-radius: var(--border-radius-small);
  padding: 40px;
}

.hero-form .form-control {
  padding-bottom: 10px;
}

.hero-form button[type="submit"] {
  padding-top: 10px;
  padding-bottom: 8px;
}

.hero-form .input-group-text i {
  position: relative;
  top: 2px;
}

.hero-section .badge {
  background: transparent;
  color: var(--white-color);
}

.hero-section .badge:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.badge {
  background: var(--section-bg-color);
  border: 1px solid var(--white-color);
  border-radius: var(--border-radius-medium);
  color: var(--primary-color);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  margin-right: 5px;
  margin-left: 5px;
  padding: 8px 12px;
  padding-bottom: 6px;
}

.badge-level {
  background: var(--primary-color);
  color: var(--white-color);
}

.badge:hover {
  background: var(--custom-btn-bg-color);
  color: var(--white-color);
}

/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-page .about-section {
  padding-top: 100px;
  padding-bottom: 0;
}

.about-section .custom-text-block {
  background: var(--secondary-color);
}

.about-image-wrap,
.video-thumb {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.about-info {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  border-top: 30px solid var(--secondary-color);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: -22px;
  padding: 19px;
}

.about-info-text h4 {
  font-weight: var(--font-weight-normal);
}

.about-image-border-radius {
  border-radius: var(--border-radius-medium);
}

.about-image {
  display: block;
  object-fit: cover;
  height: 100%;
}

.custom-border-radius-start {
  border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
}

.custom-border-radius-end {
  border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
}

.video-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube-icon {
  background: var(--custom-btn-bg-color);
  font-size: var(--h2-font-size);
  color: var(--white-color);
  border-radius: var(--border-radius-large);
  width: 90px;
  height: 90px;
  line-height: 110px;
  text-align: center;
  display: block;
  animation: pulse-animation 2s infinite;
  transition: all 0.5s;
}

.youtube-icon:hover {
  color: var(--white-color);
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

/*---------------------------------------
  SERVICES              
-----------------------------------------*/
.services-block {
  border-top: 25px solid transparent;
  border-radius: var(--border-radius-medium);
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  padding: 40px;
}

.services-block:hover,
.services-section .services-block-wrap:nth-of-type(odd) .services-block {
  background: var(--section-bg-color);
  border-top-color: var(--secondary-color);
}

.services-block-icon {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: var(--border-radius-large);
  display: block;
  color: var(--secondary-color);
  font-size: var(--h2-font-size);
  line-height: normal;
  width: 120px;
  height: 120px;
  line-height: 135px;
  margin: auto;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
  transition: all 0.5s;
}

.services-block-body p {
  margin-bottom: 0;
}

/*---------------------------------------
  CATEGORIES              
-----------------------------------------*/
.categories-block {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  border: 8px solid var(--social-icon-link-bg-color);
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
  transition: all 0.5s;
}

.categories-block:hover {
  border-color: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.categories-icon {
  color: var(--white-color);
  font-size: var(--h4-font-size);
  line-height: normal;
  margin-bottom: 5px;
}

.categories-block-title {
  color: var(--white-color);
  font-size: var(--copyright-font-size);
}

.categories-block-number {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
}

.categories-block-number-text {
  color: var(--white-color);
  display: block;
  height: 45%;
  position: relative;
  left: 2px;
}

/*---------------------------------------
  REVIEWS              
-----------------------------------------*/
.reviews-section {
  background: var(--section-bg-color);
}

.reviews-carousel .owl-item img,
.avatar-image {
  border: 5px solid var(--section-bg-color);
  border-radius: var(--border-radius-large);
  width: 65px;
  height: 65px;
  object-fit: cover;
}

.reviews-carousel .owl-dots .owl-dot span {
  background: var(--white-color);
  border: 5px solid transparent;
  padding: 5px;
  transition: all 0.5s;
}

.reviews-carousel .owl-dots .owl-dot.active span,
.reviews-carousel .owl-dots .owl-dot:hover span {
  background: var(--white-color);
  border-color: var(--custom-btn-bg-color);
}

.reviews-thumb {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.reviews-body {
  position: relative;
  padding: 30px 40px 30px 70px;
}

.reviews-info {
  position: relative;
  padding: 40px 40px 20px 40px;
}

.reviews-title {
  color: var(--p-color);
}

.reviews-info strong,
.reviews-info small {
  display: block;
}

.reviews-info strong {
  color: var(--dark-color);
  line-height: normal;
}

.bi-star-fill {
  color: var(--custom-btn-bg-color);
}

.reviews-bottom small {
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
}

.quote-icon {
  position: absolute;
  top: 0;
  left: 30px;
  opacity: 0.05;
}

/*---------------------------------------
  JOB              
-----------------------------------------*/
.recent-jobs-bottom .custom-btn {
  font-size: var(--h5-font-size);
  padding: 25px 50px;
}

.product-listing-page .hero-form .badge:hover {
  background: var(--primary-color);
}

.product-thumb {
  border-radius: var(--border-radius-small);
  margin-bottom: 25px;
  padding: 25px;
  transition: all 0.5s ease;
}

.product-thumb:hover,
.product-thumb:nth-of-type(even) {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.product-title-link {
  color: var(--dark-color);
  font-size: 0.8em;
}
.product-title {
  text-align: center;
}
.product-thumb p {
  font-size: 18px;
}

.product-thumb .badge {
  border: 0;
}

.product-thumb-box {
  border: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
  max-width: 300px;
  margin-bottom: 48px;
  padding: 0;
}

.product-thumb-box .product-body {
  padding: 12px;
}

.product-thumb-box .product-body .product-image-wrap {
  width: 50px;
  min-width: 50px;
  height: 50px;
}

.product-thumb-box .product-body .product-image {
  padding: 10px;
}

.product-thumb-box .job-location,
.product-thumb-box .job-date {
  min-width: inherit;
}

.product-thumb-box .job-date {
  margin-right: 0;
}

.product-image-box-wrap {
  position: relative;
}

.product-image-box-wrap .product-image {
  padding: 0;
}

.product-image-box-wrap .badge-level {
  border-color: transparent;
}

.product-image-box-wrap .badge-level:hover,
.product-image-box-wrap .badge:hover {
  background: var(--custom-btn-bg-color);
  border-color: transparent;
}

.product-image-box-wrap-info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px 25px;
}

.product-image-wrap {
  border-radius: var(--border-radius-large);
  width: 80px;
  min-width: 80px;
  height: 80px;
}

.product-image {
  display: block;
  margin: auto;
  padding: 20px;
  width: 309px;
  height: auto;
  object-position: center;
  object-fit: cover;
}

.product-body {
  flex: auto;
}

.job-location {
  min-width: 175px;
}

.job-location,
.job-date {
  margin-right: 20px;
}

.job-date {
  min-width: 155px;
}

.product-price {
  min-width: 120px;
  margin-right: 10px;
  margin-left: 10px;
}

.product-thumb-detail,
.product-thumb-detail:hover {
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.product-thumb-detail-box {
  padding: 40px;
}

.job-detail-share {
  margin-left: auto;
}

.dropdown-sorting .dropdown-menu {
  border-radius: var(--border-radius-small);
  border-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dropdown-sorting .dropdown-item {
  font-size: var(--copyright-font-size);
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#dropdownSortingButton {
  background: transparent;
  color: var(--dark-color);
  border: 0;
  padding: 0;
}

.sorting-icon {
  color: var(--p-color);
}

.sorting-icon.active {
  color: var(--primary-color);
}

.job-section-btn-wrap {
  margin-left: auto;
}

/*---------------------------------------
  CTA               
-----------------------------------------*/
.cta-section {
  background-image: url("../images/millennial-group-young-businesspeople.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 75px;
}

/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-info-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-info {
  padding: 20px 30px;
}

.contact-info:nth-of-type(even) {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-large);
}

.contact-info .custom-icon {
  font-size: var(--h2-font-size);
  margin-right: 20px;
}

.contact-info-small-title {
  color: var(--secondary-color);
  display: block;
  font-size: var(--copyright-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
}

.contact-form {
  margin-top: 20px;
}

.contact-form .form-control {
  background-color: var(--section-bg-color);
  margin-bottom: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.contact-form .form-control:hover {
  background-color: var(--white-color);
  border-color: var(--primary-color);
}

.contact-form button[type="submit"] {
  margin-bottom: 0;
}

.google-map {
  display: block;
  border-radius: var(--border-radius-medium);
  filter: grayscale(100%);
}

/*---------------------------------------
  NEWSLETTER FORM              
-----------------------------------------*/
.newsletter-form {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-small);
  padding: 30px;
}

.newsletter-form .input-group {
  margin-bottom: 0;
  padding: 10px;
}

.newsletter-form .form-control {
  margin-right: 42px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.newsletter-form button[type="submit"] {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
  width: 42px;
  height: 42px;
}

.newsletter-form button[type="submit"] i {
  height: 100%;
}

.newsletter-form
  .input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 0;
  border-radius: var(--border-radius-large);
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  padding-top: 100px;
  padding-bottom: 0;
}

.site-footer-link {
  color: whitesmoke;
}

.site-footer-bottom {
  background: var(--primary-color);
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.site-footer-bottom .footer-menu-link {
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  margin-right: 5px;
  margin-left: 5px;
}

.site-footer-title {
  margin-bottom: 15px;
}

.site-footer-bottom p,
.copyright-text {
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  margin-bottom: 0;
}

.copyright-text {
  margin-right: 20px;
}

.sponsored-link {
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
}

.footer-menu {
  justify-content: end;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  list-style: none;
  display: block;
}

.footer-menu-link {
  color: whitesmoke;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 5px;
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--social-icon-link-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 40px;
  transition: all 0.5s;
}

.social-icon-link:hover {
  background: var(--secondary-color);
  color: var(--white-color);
  transform: scale(1.15);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1025px) {
  .job-featured-section .product-thumb {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 991px) {
  .google-map {
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .container, .container-md, .container-sm {
  max-width: 950px;
}
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding,
  .cta-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-page .about-section {
    padding-top: 50px;
  }

  .custom-btn {
    padding: 12px 20px;
  }
  #accountNavbar{
    display: flex;
    font-size: 12px;
  }
  #accountNavDrop{
    display: block;
  }

  .navbar-collapse {
    width: 100vw;
    height:100vh; 
    padding-bottom: 20px;
  }
  a.btn:nth-child(1) {
    font-size: 12px;
  }
  .navbar-toggler .navbar-toggler-icon::before, .navbar-toggler .navbar-toggler-icon{
    width:  18px;
  }
  .navbar-toggler .navbar-toggler-icon::before, .navbar-toggler .navbar-toggler-icon::after{
    width:  18px;
  }
  .navbar-toggler .navbar-toggler-icon {
    font-size: 12px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px;
  }
  .navbar-brand{
    margin-right: 0rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link.custom-btn {
    margin-top: 10px;
  }
  .navbar-nav {
    margin-top: 43.5px;
    background-color: white;
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3),
      -10px 0 15px -5px rgba(0, 0, 0, 0.3), 0 10px 15px -5px rgba(0, 0, 0, 0.3),
      0 -10px 0 rgba(0, 0, 0, 0); /* Shadow on the top is set to transparent */
  }
}
.page-link {
  font-size: 12px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

.custom-text-block {
  padding: 50px 30px;
}

.hero-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.badge {
  margin-top: 5px;
}

.counter-number,
.counter-number-text {
  font-size: var(--h2-font-size);
}

.custom-border-radius-start {
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}

.custom-border-radius-end {
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
}

.product-body p {
  font-size: var(--btn-font-size);
}

.job-location {
  min-width: 140px;
}

.product-price {
  min-width: inherit;
  margin-top: 5px;
  margin-left: 0;
}

.hero-form button[type="submit"] {
  margin-bottom: 0;
}

.site-footer {
  padding-top: 50px;
}

.site-footer-bottom {
  margin-top: 50px;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .badge {
    margin: 10px 10px 5px 0;
  }

  .page-link {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .counter-thumb {
    margin: 10px;
  }

  .counter-number,
  .counter-number-text {
    font-size: var(--h3-font-size);
  }

  .job-date {
    margin-top: 5px;
  }

  .job-detail-share {
    margin: 20px auto 0 auto;
  }
}
.center {
  width: 50%;
height: 24%;
}

/* Element | http://127.0.0.1:5500/about.html */

div.container:nth-child(3) {
  padding-top: 50px;
}

/* product hover */

/* CSS for the hover effect */
.product-image-box-wrap {
  position: relative;
  overflow: hidden;
}

.product-item .product-image{
  transition: transform 0.4s ease-in-out;
}
.product-item:hover .product-image{
 transform: scale(1.3);

}


/* Styles for WhatsApp button */
#whatsapp-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 55px;
  border-radius: 62%;
  background-color: transparent;
}
#whatsapp-button a img{
  width: -webkit-fill-available;
}
@media only screen and (max-width: 992px) {
   #whatsapp-button a img{
    max-width: 64px;
  
  }
  #whatsapp-button {
   bottom: 24px;

   
  }
}
/* stop animations on smaller devices */
/* @media screen and (max-width: 800px) {
   .wow{ animation-name: none !important;
     visibility: visible !important; }
 } */

.site-footer-title button{
width: 10px;
height: 10px;
}
.site-footer-title button img{
width: 100%;
height: 100%;
}
#map{
  width: 100%;
  height: 100%;
}


#success-message {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
}    
  div.nav-item > ul:nth-child(2) {
  position: absolute;
  top: 70px;
  left: -14px;
 box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}


/* Divider between items */
.dropdown-divider {
    margin: 8px 0;
    border-color: #ccc;
}
div.nav-item{
  display: flex;
  width: 125px;
  height:70px ;
   align-items: center;
   justify-content: center;
}

#cart-count {
  position: relative;
  top: -8px;
  right: 11px;
}
.accountDropdown{
background-color: var(--custom-btn-bg-color);
color: var(--white-color);
font-size: var(--menu-font-size);
font-weight: var(--font-weight-medium);
}
.accountDropdown:hover{
background-color: var(--secondary-color);
color: var(--p-color);
}
.btn-cart{
  background-color: var(--custom-btn-bg-color);
color: var(--white-color);
}
.btn-cart:hover{
  background-color: var(--secondary-color);
  color: var(--p-color);
}

@media screen and (max-width: 330px) {
  .logo-image{
    width: 115px;
  }
  .center {
  width: 87%;
  height: 18%;
}
}

 #accountNavDrop{
    display: none;
  }

  @media screen and (max-width: 991px) {
    #accountNavDrop{
    display: block;
    }
    .center {
  width: 60%;
  height: 18%;
}
  }

  /* Add this in your <style> tag or external stylesheet */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(50px);
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.close-modal {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.modal {
  display: none;
  position: fixed;
  top: 9%;
  left: 15%;
  width: 70%;
  height:80%;
  background-color: white;
  border-radius: 94px;
  text-align: center;
   box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.modal-content {
  background-color: white;
  width: 65%;
  height: 67%;
  top: 56%;
  padding: 20px;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
#closeModal{
  justify-self: flex-end;
  font-size: 20px;
  cursor: pointer;
    position: relative;
  top: -7px;
  font-size: 2.2rem;
  right: -306px;
  color: var(--primary-color);
}
.form-group{
 padding-bottom: 4%;
}

#sendOtpBtn {
  position: absolute;
  top: 40%;
  right: 2%;
  height: 39px;
  text-align: center;
  width: 108px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#loginForm > h4:nth-child(1) {
  text-align: center;
}

div.form-group:nth-child(3) {
  text-align: center;
}
.modal-header > h3:nth-child(1) {
  color: var(--primary-color);
}
@media screen and (max-width: 991px) {
  .product-data{
    align-items: center;
  }
  .buyNowBtn{
    justify-content: center;
    margin-top: 15px;
    margin-right:24%;
    width: 57%;
  }
  .modal{
    width: 100%;
    height: 90%;
     left: 0%;
     top: 24%;
  }
.modal-content {
  width: 96%;
left: 50%;
top: 51%;
}
#closeModal {
  position: absolute;
  top: 1px;
  right: 33px; 
}
#closeModal1 {
  position: absolute;
  top: 1px;
  right: 33px; 
}



div.form-group:nth-child(2) {
  top: 54%;
position: absolute;
margin-top: 5%;
}
div.form-group:nth-child(3) {
 position: absolute;
top: 74%;
right: 24%;
margin-top: 5%;
}
#sendOtpBtn {
  top: 48%;
  right: 32%;
  margin-top: 5%;
}
#otp {
width: 149%;
}

.product-image {
  width: 48em;
}

.product-thumb-box {
  max-width: 365px;
}
a.product-title-link{
  font-size: 1.3em;
}

}
  
.size-checkboxes {
  color: var(--p-color);
font-size: var(--p-font-size);
font-weight: var(--font-weight-light);
 display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.size-checkboxes label {
  font-size: var(--p-font-size);
font-weight: var(--font-weight-light);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.size-checkboxes label span {
  font-size: 14px;
}

.size-checkboxes input[type="radio"] {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  display: none;
}

.size-checkboxes input[type="radio"]:checked + span {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.size-checkboxes span {
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 5px 10px;
   font-size: var(--btn-font-size);
  cursor: pointer;
}
.updated-price {
  margin-left: 5px;
}
.size-checkboxes p{
  font-weight: var(--font-weight-light);
}
p.product-price {
font-weight: var(--font-weight-light);
margin-left: 5px;
}




.product-data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: -5px;
}
.buyNowBtn{
  display: flex;
}

.product-price {
  display: flex;
  align-items: center;
}

.discount {
  color: red;
  margin-left: 10px;
}

.final-price {
  margin-right: 9px;
font-size: 1.2rem;
font-weight: initial;
}
span.original-price {
  text-decoration: line-through;
}

.site-footer{
   background-image: url("../images/3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 100;
}
.site-footer .container{
  backdrop-filter: blur(50px);
}




.site-footer > div:nth-child(1) {
  padding: 22px;
}

.col-lg-2 > h6:nth-child(1) {
  color: var(--primary-color);
}

.col-md-8 > h6:nth-child(1) {
  color: var(--primary-color);
}

.col-md-8 > p:nth-child(2) {
  color: whitesmoke;
}

div.contact-info:nth-child(2) > p:nth-child(2) > a:nth-child(2) {
  color: var(--p-color);
}

div.contact-info:nth-child(3) > p:nth-child(2) > a:nth-child(2) {
  color: var(--p-color);
}

div.contact-info:nth-child(4) > p:nth-child(2) > a:nth-child(2) {
  color: var(--p-color);
}

.custom-btn[disabled] {
  background-color: #c35744; /* Change to your preferred disabled button color */
  cursor: not-allowed;
}
/* button  */

.plus-minus-input {
  width: 100%;
  display: none;
  align-items: center;
justify-content: center;
}

.plus-btn {
  width: 100%;
  border-radius: 0px 30px 30px 0px;
  border-left: 1px solid whitesmoke;
}


.inputBtn {
  width: 130%;
  border-radius: 0 0 0 0px;
  height: 100%;
}
.minus-btn {
  width: 100%;
  border-radius: 30px 0% 0% 30px;
  border-right: 1px solid whitesmoke;
}
.product-info{
  flex-direction: column;
}


.add-to-cart-container {
  width: 12em;
  display: flex;
flex-direction: row;
}

.add-to-cart-btn {
  width: 100%;

}
.size-checkboxes label span{
  font-size: 0.5em;
}

.product-item{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 991px) {
 
  .product-data{
    align-items: center;
  }
  .buyNowBtn{
    justify-content: center;
    margin-top: 15px;
    margin-right:24%;
    width: 57%;
  }
  .modal{
    width: 100%;
    height: 90%;
     left: 0%;
     top: 21%;
  }
  a.back-top-icon{
    display: none;
  }
  
}

#cart-div{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
width: 100vw;
background-image:url("../images/5.jpg") ;
background-attachment: fixed;
background-size: cover;
}

.card-1{
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    border-radius: 1rem;
    border: transparent;
    width: 80vw;
    margin-bottom: 3em;
    margin-top: 8em;
}
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    min-height: 57vh;
}


@media(max-width:767px){
  
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
    height: max-content;
    position: sticky;
    top: 17%;
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
}

#cart-div > section {
  z-index: 9;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 100vh;
  align-items: center;
display: flex;
justify-content: center;
}
@media screen and (max-width: 1200px) {
  .card-1{
    margin-top: 9em;
    width: 90vw;
  }
}

.cart-container {
  margin-bottom: 15px;
}
.input-group-text {
  text-align: center;
  padding: 7px;
  border: 1px solid;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--p-color);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
select {
  word-wrap: normal;
  background-color: white;
  font: 1em;
}
.close-select i.bi.bi-x{
  color: red;
  background-color: white;
}

#recaptcha-container {
 display: none;
}
.modal-content-1{
  background-color: white;
  width: 65%;
  height: 67%;
  top: 51%;
  padding: 20px;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;

}
.form-group-1{
  padding-bottom: 4%;
  display: flex;
  flex-direction: row;
}
div.form-group:nth-child(8) {
  text-align: center;
}
#closeModal1 {
  cursor: pointer;
  position: relative;
  top: -7px;
  font-size: 2.2rem;
  right: -306px;
  color: var(--primary-color);
}
#userdata {
  position: fixed;
  /*! top: 9%; */left: 15%;
  width: 70%;
  min-height: 100vh;
  background-color: white;
  border-radius: 94px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  overflow-y: auto;
  display: none;
}
.form-group-1>div{
width: 100%;
margin-right: 10px;

}
div.form-group:nth-child(5) {
  text-align: center;
}
@media screen and (max-width: 991px) {
  .form-group-1{
    flex-wrap: wrap;
  }
   #userdata {
  position: fixed;
  /*! top: 9%; */left: 0%;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  border-radius: 94px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  overflow-y: auto;
}
#closeModal1 {
top: -8px;
right: -90px;
}
 
  
}

#accountMenu{
  cursor: pointer;
}

.navbar > div:nth-child(1) {
  backdrop-filter: blur(50px);
}

.close-select-icon{
  color: red;
  background-color: white;
  cursor: pointer;
}
.close-select-icon:hover{
  transform: scale(1.2);
}

.product-col{
flex-basis: 35%;
}
.size-col{
flex-basis: 15%;
}
.price-col, .quantity-col, .total-col{
flex-basis: 10%;
}
.cross-col{
flex-basis: 5%;
}
/* Default styles for larger screens */
.cart-col-label {
    display: none; /* Hide labels by default */
}

@media screen and (max-width: 700px) {
  .cart-col-label {
        display: block; /* Display labels on smaller screens */
        font-weight: bold; /* Make labels bold for better visibility */
        margin-bottom: 5px; /* Add some spacing below labels */
    }
  .border-top > div:nth-child(1) > div:nth-child(2),.border-top > div:nth-child(1) > div:nth-child(4) {
  display: none;
}
 .card-1{
  font-size: 1.5em;
 }

  
 .cart-col {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr; /* Create 3 equal-width columns */
    grid-template-rows: auto auto; /* Two rows, with auto sizing */
    gap: 10px; /* Add some spacing between columns */
}

.cart-col-option {
    width: 100%; /* Make each column take the full width */
}

.cart-col-option:nth-child(odd) {
    /* Items 1, 3, and 5 (product-col, price-col, total-col) */
    grid-row: 1; /* Place them in the first row */
     /* Make them take up 1/3 of the row */
}

.cart-col-option:nth-child(even) {
    /* Items 2 and 4 (size-col and quantity-col) */
    grid-row: 2; /* Place them in the second row */
     /* Make them take up 1/2 of the row */
}



option.text-muted{
  font-size: 0.6em;
  text-align: center;
}


}
.text-muted{
  font-size: 1em;
  background-color: white;  
  cursor: pointer;
}


@media screen and (max-width: 540px) {
  .card-1{
    font-size: 1.2em;
  }
  .cart-col{
    grid-template-columns: 2fr 1.5fr 1.5fr;
  }
  .logo-image{
    width: 115px;
  }
}

@media screen and (max-width: 360px) {
  .card-1{
    font-size: 1.1em;
  }
  .cart-col{
    grid-template-columns: 1.3fr 1fr 1fr;
  }
}
option.text-muted{
  text-align: center;
}
#freedeliveryline{
  background-color: var(--primary-color);
  color: white;
  margin-bottom: 5px;
}

.save-icon{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  font-size: 2em;
  border-radius: 5px;
  cursor: pointer;

}

