rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /userProfiles/{document=**} {
      allow read, write: if request.auth.uid != null;
      // Add other rules as needed for write access.
    }
    match /products/{document=**} {
          allow read: if true;
           allow write: if request.auth.uid == "105556834439325763831";
    }
  }
}
